name: CI/CD Deploy to Dokploy

on:
    push:
        branches: [ development ]

jobs:
    build-and-push:
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Lowercase repo name
              id: repo_name
              run: echo "LOWERCASE_REPO=${GITHUB_REPOSITORY,,}" >> $GITHUB_OUTPUT

            - name: Login to Github Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  tags: ghcr.io/${{ steps.repo_name.outputs.LOWERCASE_REPO }}:latest

            - name: Trigger Dokploy Webhook
              run: |
                  curl -X POST "${{ secrets.DOKPLOY_WEBHOOK_URL }}"
